In [2]:
import pandas as pd
import os
import numpy as np
pd.set_option('display.max_columns', 55)
pd.set_option('display.max_rows', 100)

In [3]:
df1 = pd.read_csv('Superstore data.csv', encoding='ISO 8859-1')

In [4]:
df1.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [7]:
df1.Category.unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [9]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql://postgres:mohdab06@localhost:5432/projectsql')

In [12]:
df1.to_sql(name='sales', con=engine,index=False, if_exists='replace')

994